# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
# I nornally do not include .env files in the repository
# .env
# .env.local
# .env.*.local

# Logs
logs/
*.log
*.log.*

# Build output
dist/

# IDE files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Ignore coverage reports
coverage/

# GraphQL specific
*.graphql.d.ts